<!DOCTYPE html>
<html>
    <head>
        <Title>Minful Quote Trivia</Title>
        <link rel="stylesheet" href="static/style.css" type="text/css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div class="bigBox">
            <h1> Welcome to Mindful Quote Trivia!</h1>
            <p>Given a quote, guess which of the 4 options said it.</p>
            <div class="box">
                <h2>Question 1</h2>
                <h3>Who said this quote: Quote</h3>
                <ol> 
                    <li>Person 1</li>
                    <li>Person 2</li>
                    <li>Person 3</li>
                    <li>Person 4</li>
                </ol>
            </div>
            <div class="box">
                <h2>Question 2</h2>
                <h3>Who said this quote: Quote</h3>
                <ol> 
                    <li>Person 1</li>
                    <li>Person 2</li>
                    <li>Person 3</li>
                    <li>Person 4</li>
                </ol>
            </div>
            <div class="box">
                <h2>Question 3</h2>
                <h3>Who said this quote: Quote</h3>
                <ol> 
                    <li>Person 1</li>
                    <li>Person 2</li>
                    <li>Person 3</li>
                    <li>Person 4</li>
                </ol>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>